* {
 font-size: 20px;
 font-family: Arial;
}

.container {
  height: 500px;
  width: auto;
  margin: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
}


#calculator{
  border-radius: 0 0 40px 40px;
  height: 400px;
  width: 300px;
  margin: 0 auto;
  background-color: #3A6EB3;
  position: relative;
}

.screen {
  height: 50px;
  width: 250px;
  background-color: #8C8565; 
  margin: 10px 0 0 25px;
  position: absolute;
}

#total {
  height: 35px;
  float: right;
  margin-right: 10px;
  font-size: 30px;
 /* background-color: green;*/
}

#total_calc {
  height: 15px;
  float: right;
  margin: 30px -12px 0 0;
  font-size: 15px;
}

.lightCharge {
  height: 80px;
  width: 300px;
  border-radius: 50px 50px 0 0;
  background-color: #3A6EB3; 
  margin: 0 auto;
  position: relative;
}


.smallScreen {
  height: 35px;
  width: 125px;
  background-color: #9A7158; 
  margin: 15px 0 0 30px;
  position: absolute;
}



.numButton, .func {
  background-color: #585654; 
}

.onPlusButton {
  background-color: #C02B30;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  color: white;
  margin-right: 10px;
}

button:focus {
  outline:0;
}

.numButtonZero {
  width: 115px;
}

.numButtonEquals {
  height: 115px;
  position: absolute;
  left: 196px;
  bottom: -65px;
}

.row_container1 {
  position: absolute;
  top: 80px;
  margin-left: 27px;
}

.row_container2 {
  position: absolute;
  top: 140px;
  margin-left: 27px;
}

.row_container3 {
  position: absolute;
  top: 200px;
  margin-left: 27px;
}

.row_container4 {
  position: absolute;
  top: 260px;
  margin-left: 27px;
}

.row_container5 {
  position: absolute;
  top: 320px;
  margin-left: 27px;
}


img{
  height: 15px;
  width: 15px;
}
